<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Copyright (c) 2016.
  ~
  ~ This file is part of ProcessManager.
  ~
  ~ ProcessManager is free software: you can redistribute it and/or modify it under the terms of version 3 of the
  ~ GNU Lesser General Public License as published by the Free Software Foundation.
  ~
  ~ ProcessManager is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
  ~ the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License along with ProcessManager.  If not,
  ~ see <http://www.gnu.org/licenses/>.
  -->
<!-- The contents of this file will be loaded for each web application -->
<Context>

    <!-- Default set of monitored resources -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
	
    <!-- Uncomment this to disable session persistence across Tomcat restarts -->
    <!--
    <Manager pathname="" />
    -->

    <!-- Uncomment this to enable Comet connection tacking (provides events
         on session expiration as well as webapp lifecycle) -->
    <!--
    <Valve className="org.apache.catalina.valves.CometConnectionManagerValve" />
    -->
    <Valve className="uk.ac.bournemouth.darwin.catalina.authenticator.DarwinAuthenticator"/>
    <!-- description="The authentication database" -->
    <Resource name="jdbc/webauth"
              auth="Container"
              driverClassName="com.mysql.jdbc.Driver"
              factory="org.apache.naming.factory.BeanFactory"
              password="5glul9f3i4"
              type="com.zaxxer.hikari.HikariDataSource"
              jdbcUrl="jdbc:mysql://localhost/webauth"
              username="webauth"/>



    <Environment name="webauthAdm/userName" type="java.lang.String" value="webauthadm" description="The username that is allowed to administer the authentication database (not only authenticate, but change stuff)" />
    <Environment name="webauthAdm/password" type="java.lang.String" value="" description="The password used with the webauthAdm/userName user" />

</Context>
