[*]
charset=utf-8
end_of_line=lf
insert_final_newline=false
indent_style=space
indent_size=2

[{*.sht,*.html,*.shtm,*.shtml,*.htm}]
indent_style=space
indent_size=4

[{*.mod,*.dtd,*.ent,*.elt}]
indent_style=space
indent_size=4

[{phpunit.xml.dist,*.jhm,*.rng,*.wsdl,*.fxml,*.pom,*.xslt,*.jrxml,*.ant,*.svg,*.xul,*.xsl,*.xsd,*.tld,*.jnlp,*.xml}]
indent_style=space
indent_size=4

[{.babelrc,.stylelintrc,.eslintrc,*.bowerrc,*.jsb3,*.jsb2,*.json}]
indent_style=space
indent_size=2

[*.css]
indent_style=space
indent_size=4

[{*.applejs,*.js}]
indent_style=space
indent_size=4

[{jshint.json,*.jshintrc}]
indent_style=space
indent_size=2

[{*.jscs.json,*.jscsrc}]
indent_style=space
indent_size=2

[{*.module,*.hphp,*.phtml,*.php5,*.php4,*.php,*.inc}]
indent_style=space
indent_size=4

[{*.gradle,*.groovy,*.gant,*.gdsl,*.gy}]
indent_style=space
indent_size=4

[{*.xjsp,*.tag,*.jsf,*.jsp,*.jspf,*.tagf}]
indent_style=space
indent_size=4

[*.less]
indent_style=space
indent_size=2

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

