[submodule "darwinlib"]
	path = darwinlib
	url = https://github.com/pdvrieze/darwinlib.git
	ignore = dirty
[submodule "android-auth"]
	path = android-auth
	url = https://github.com/pdvrieze/darwin-android-auth.git
	ignore = dirty
[submodule "kotlinsql"]
	path = kotlinsql
	url = https://github.com/pdvrieze/kotlinsql.git
	ignore = dirty
[submodule "gh-pages"]
	path = gh-pages
	url = ./
	branch = gh-pages
	ignore = dirty
[submodule "wiki"]
	path = wiki
	url = https://github.com/pdvrieze/ProcessManager.wiki.git
	ignore = dirty
