/gh-pages
reports
out
local.properties
build
.gradle
.kotlin
.idea/libraries
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources
.idea/artifacts/
*/*.iml
*.iml
.idea/gradle.xml
captures
/*/gen
wiki
/extinfo/
/.idea/caches/
/.idea/shelf/
/.idea/modules/
/.idea/modules.xml
/.idea/workspace.xml
xmlutil
kotlinsql
/DarwinClients/*/gen/*
/endpointDokkalet/
*.bak
