[submodule "java-common"]
	path = java-common
	url = https://pdvrieze@darwin.bournemouth.ac.uk/git/java-common
[submodule "PE-common"]
	path = PE-common
	url = https://pdvrieze@darwin.bournemouth.ac.uk/git/PE-common
[submodule "PEUserMessageHandler"]
	path = PEUserMessageHandler
	url = https://pdvrieze@darwin.bournemouth.ac.uk/git/PEUserMessageHandler
[submodule "ProcessEngine"]
	path = ProcessEngine
	url = https://pdvrieze@darwin.bournemouth.ac.uk/git/ProcessEngine
