/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.gwt-Button.inTabButton {
  margin-bottom: 5px;
}

.gwt-TabPanelBottom {
  overflow: auto !important;
}

.tabPanel {
  xpadding: 2px;
}

#gwt {
  margin: 7px;
  text-align: center;
}

.tabContent {
  width: 100%;
  xmargin: 3px;
  padding-right:3px;
}

.tabContent .gwt-Button{
  width: 100%;
}

.mhList {
  xwidth:200px;
  height:300px;
  margin-bottom: 4px;
}

.fileForm {
  border: 1px solid green;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-bottom: 4px;
  padding-top: 4px;
  overflow: hidden;
}

.leftSplitPanel {
  padding-right: 2px;
  overflow:hidden;
}

.dockPanel {
  width: 100%;
}

#gwt {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.gwt-TabPanelBottom {
  top: 0px;
  bottom: 0px;
  overflow: scroll;
}

.tabPanel {
  width: 100%;
  xheight: 100%;
  overflow: hidden;
}

.fullWidth {
  width: 100%;
}

.fullWidth .gwt-CheckBox {
  float: right;
}

.bordered {
  border: 1px solid red;
}

.EditableProcessNode {
  border: 1px solid black;
  width: 30px;
  height: 20px;
  text-align:center;
}

.fileForm .gwt-Button {
  margin-top: 5px;
  float: right;
}