<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2016.
  ~
  ~ This file is part of ProcessManager.
  ~
  ~ ProcessManager is free software: you can redistribute it and/or modify it under the terms of version 3 of the
  ~ GNU Lesser General Public License as published by the Free Software Foundation.
  ~
  ~ ProcessManager is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
  ~ the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License along with ProcessManager.  If not,
  ~ see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <servlet>
    <servlet-name>internalEndpointServlet</servlet-name>
    <servlet-class>nl.adaptivity.process.messaging.EndpointServlet</servlet-class>
    <init-param><param-name>endpoint</param-name><param-value>nl.adaptivity.process.userMessageHandler.server.InternalEndpointImpl</param-value></init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>externalEndpointServlet</servlet-name>
    <servlet-class>nl.adaptivity.process.messaging.EndpointServlet</servlet-class>
    <init-param><param-name>endpoint</param-name><param-value>nl.adaptivity.process.userMessageHandler.server.ExternalEndpoint</param-value></init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>externalEndpointServlet</servlet-name>
    <url-pattern>/UserMessageService/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>internalEndpointServlet</servlet-name>
    <url-pattern>/internal</url-pattern>
  </servlet-mapping>

</web-app>
