/log/
/src/nl/adaptivity/process/userMessageHandler/client/blackSplitPanel.png
/war
/gwt-unitCache/
/.gwt/
/res/main/nl/adaptivity/process/userMessageHandler/client/blackSplitPanel.png
/build
/images
